/* Apply basic formatting to the cheat sheet */

body
{
   font-family: Verdana,Tahoma,Arial,sans-serif;
   font-size: 75%;
}

h1
{
   margin: 2.4em 0 1em 0;
   font-size: 2.2em; 
   word-spacing: -0.025em;
   letter-spacing: -0.05em;
}

h2
{
   margin: 2em 0 0.6em 0;
   font-size: 1.7em;
   word-spacing: -0.025em;
   letter-spacing: -0.05em;
}

h3
{
   margin: 1.8em 0 0 0;
   font-size: 1.4em;
   word-spacing: -0.02em;
   letter-spacing: -0.05em;
}

p
{
   margin: 1em 0 0 0;
}

#page_header_url h1
{
   padding: 0;
   margin: 0;
   letter-spacing: -0.1em;
}

#page_header_quote p 
{
   padding: 0;
   margin: 0;
   text-align: center;
   font-size: 0.85em;
   line-height: 1.2em;
}

#site_menu ul
{
   padding: 0;
   margin: 0;
   font-size: 1.1em;
   list-style: none;
}

#site_menu li
{
   margin-bottom: 4px;
}

#site_menu li a
{
   height: 20px;
   padding: 6px 0 0 10px;
   border-left-style: solid;
   border-left-width: 4px;
   display: block;
   font-weight: bold;
}

#announce
{
   line-height: 1.3em;
}

#announce h3
{
   margin: 0 0 5px 0;
   font-size: 1.3em;
}

#announce p
{
   margin: 0 0 10px 0;
   font-size: 0.9em;
}

#add_info h3
{
   margin: 0 0 5px 0;
   font-size: 1.3em;
}

#add_info p
{
   margin: 0 0 5px 0;
   font-size: 0.9em;
}

#ext_menu h3
{
   margin: 0 0 5px 0;
   font-size: 1.3em;
}

#ext_menu p
{
   margin: 0 0 5px 0;
   font-size: 0.9em;
}

#content
{
   text-align: left;
   line-height: 1.6em;
}

#tech_dedication p img
{
   vertical-align: middle;
}

#legal
{
   text-align: justify;
   font-size: 0.9em;
}

#legal p
{
   padding: 5px;
   margin: 0;
}

.hide
{
   display: none;
}

.cap1st
{
   font-style: italic;
   text-transform: capitalize;
}

a img
{
   border-style: none;
   text-decoration: none;
}


/*

hdrcheat_basics.css is an Cascading Style Sheet cheat sheet
copyright 2011 Hans de Rooij, Original design Andreas Viklund

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of
the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public 
License (http://www.gnu.org/licenses/gpl.html) along with
this program; if not, write to: 

The Free Software Foundation, Inc.
51 Franklin St
Boston MA 20110-1301
USA.

*/

