/*
   hdrcheat.css - an open source xhtml/css website layout
   by Hans de Rooij based on andreas01 by Andreas Viklund

Basic cascading style sheet syntax; selector{property: value;}

Selector
{
   - Box dimensions
   height: ;
   width: ;

   - Box margin and padding
   padding: ;
   margin: ;

   - Box positioning
   position: relative/absolute;
   top: ;
   left: ;
   bottom: ;
   right: ;
   float: left/right;
   clear: none/left/right/both;
   z-index: ;

   - Box background and color
   background-color: ;
   background-image: ;
   background-position: ;
   background-attachment: fixed/scroll;
   background-repeat; no-repeat/repeat/repeat-x/repeat-y;
   color: ;

   - Box border
   border-style: none/dotted/dashed/solid/double/groove/ridge/inset/outset;
   border-width: ;
   border-color: ;

   - Box behaviour in case contents does not fit
   overflow: visible/hidden/scroll;

   - Box display
   display: none/block/inline/list-item;

   - Vertical positioning of an inline element
   vertical-align: baseline/middle/sub/super/(text-)top/(text-)bottom;

   - Content properties
   text-align: left/right/center/justify;
   text-indent: ;
   white-space: normal/nowrap/pre;
   
   font-family: name/serif/sans-serif/cursive/fantasy/monospace;
   font-style: normal/oblique/italic;
   font-weight: normal/bold/bolder/lighter;
   font-variant: none/small-caps;
   font-size: ;
   line-height: ;

   text-decoration: none/underline/overline/line-through/blink;
   text-transform: none/capitalize/uppercase/lowercase;
   word-spacing: ;
   letter-spacing: ;
}


Setup the box model of the cheat sheet. The structure of the page is;

body
   center_col
      page_header
         page_header_url
	 page_header_quote
      banner

      left_col
         site_menu
	 announce
	 
      right_col
         add_info
	 ext_menu

      content
      hr#below_content

      contact_info
      tech_dedication
      legal
*/

body
{
   padding: 0;
   margin: 0;
   border-style: none;
}

#center_col
{
   width: 760px;
   padding: 0;
   margin: 0 auto;
}

#page_header
{
   width: inherit;
   height: 45px;
   padding: 0;
   margin: 12px 0 0 0;
}

#page_header_url
{
   width: 300px;
   padding: 0;
   margin: 0 0 12px 0;
   float: left;
}

#page_header_quote
{
   width: 450px;
   padding: 0;
   margin: 0 0 12px 0;
   float: right;
}

#banner
{
   width: inherit;
   padding: 0;
   margin: 0 0 10px 0;
   border-style: none;
}

#left_col
{
   width: 150px;
   padding: 0;
   margin: 0 0 20px 0;
   float: left;
}

#site_menu
{
   width: inherit;
   padding: 0;
   margin: 0 0 20px 0;
}

#announce
{
   width: 130px;
   padding: 10px;
   margin: 0 0 15px 0;
}

#right_col
{
   width: 120px;
   padding: 0;
   margin: 0 0 20px 0;
   float: right;
}

#add_info
{
   width: inherit;
   padding: 0;
   margin: 0 0 20px 0;
}

#ext_menu
{
   width: inherit;
   padding: 0;
   margin: 0 0 15px 0;
}

#content
{
   width: auto;
   padding: 0 10px 0 10px;
   margin: 0 130px 25px 160px;
   border-left-style: solid;
   border-left-width: 1px;
   border-left-color: #f0f0f0;
   border-right-style: solid;
   border-right-width: 1px;
   border-right-color: #f0f0f0;
}

hr#below_content
{
   height: 3px;
   width: 630px;
   padding: 0;
   margin: 0 130px 5px 0;
   clear: both;
}

#contact_info
{
   width: auto;
   margin: 0 0 20px 0;
}

#tech_dedication
{
   width: auto;
   margin: 0 0 50px 0;
}

#legal
{
   width: 480px;
   padding: 10px 10px;
   margin: 0 0 20px 0;
   border-style: solid;
   border-width: 1px;
}


/* Apply basic formatting to the cheat sheet */

body
{
   font-family: Verdana,Tahoma,Arial,sans-serif;
   font-size: 75%;
}

h1
{
   margin: 2.4em 0 1em 0;
   font-size: 2.2em; 
   word-spacing: -0.025em;
   letter-spacing: -0.05em;
}

h2
{
   margin: 2em 0 0.6em 0;
   font-size: 1.7em;
   word-spacing: -0.025em;
   letter-spacing: -0.05em;
}

h3
{
   margin: 1.8em 0 0 0;
   font-size: 1.4em;
   word-spacing: -0.02em;
   letter-spacing: -0.05em;
}

p
{
   margin: 1em 0 0 0;
}

#page_header_url h1
{
   padding: 0;
   margin: 0;
   letter-spacing: -0.1em;
}

#page_header_quote p 
{
   padding: 0;
   margin: 0;
   text-align: center;
   font-size: 0.85em;
   line-height: 1.2em;
}

#site_menu ul
{
   padding: 0;
   margin: 0;
   font-size: 1.1em;
   list-style: none;
}

#site_menu li
{
   margin-bottom: 4px;
}

#site_menu li a
{
   height: 20px;
   padding: 6px 0 0 10px;
   border-left-style: solid;
   border-left-width: 4px;
   display: block;
   font-weight: bold;
}

#announce
{
   line-height: 1.3em;
}

#announce h3
{
   margin: 0 0 5px 0;
   font-size: 1.3em;
}

#announce p
{
   margin: 0 0 10px 0;
   font-size: 0.9em;
}

#add_info h3
{
   margin: 0 0 5px 0;
   font-size: 1.3em;
}

#add_info p
{
   margin: 0 0 5px 0;
   font-size: 0.9em;
}

#ext_menu h3
{
   margin: 0 0 5px 0;
   font-size: 1.3em;
}

#ext_menu p
{
   margin: 0 0 5px 0;
   font-size: 0.9em;
}

#content
{
   text-align: left;
   line-height: 1.6em;
}

#tech_dedication p img
{
   vertical-align: middle;
}

#legal
{
   text-align: justify;
   font-size: 0.9em;
}

#legal p
{
   padding: 5px;
   margin: 0;
}

.hide
{
   display: none;
}

.cap1st
{
   font-style: italic;
   text-transform: capitalize;
}

a img
{
   border-style: none;
   text-decoration: none;
}


/* Apply color and background formatting to the cheat sheet */

body
{
   background-color: #f4f4f4;
   background-image: url(../imgs/bg.gif);
   background-position: top center;
   background-attachment: scroll;
   background-repeat: repeat-y;
   color: #303030;
}

#center_col
{
   background-color: #ffffff;
   color: #303030;
}

#page_header_quote p 
{
   background-color: inherit;
   color: #a0a0a0;
}

#site_menu li a
{
   background-color: #f4f4f4;
   color: #505050;
   border-left-color: #cccccc;
   text-decoration: none;
}

#site_menu li a:hover
{
   background-color: #eaeaea;
   color: #286ea0;
   border-color: #286ea0;
}

#announce
{
   background-color: #f4f4f4;
   color: #505050;
}


hr#below_content
{
   background-color: #cccccc;
   color: #cccccc;
}

#legal
{
   background-color: #f4f4f4;
   color: inherit;
}

.cap1st
{
   background-color: inherit;
   color: #286ea0;
}


/* Apply formatting to the form elements of the cheat sheet */

form
{
   width: inherit;
   padding: 0;
   margin: 20px 0 24px 0;
}

form fieldset
{
   width: 360px;
   padding: 0 10px 10px 10px;
   margin: 10px auto;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
}

form fieldset legend
{
   padding: 2px 6px;
   margin: 0;
   background-color: #f4f4f4;
   color: inherit;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
}

form fieldset table
{
   padding: 0;
   margin: 0 auto;
}

.FormLeftCol
{
   width: 110px;
}

.FormMiddleCol
{
   width: 15px;
}

.FormRightCol
{
   width: 190px;
}

form fieldset table tr
{
   padding: 0;
   margin: 0;
}

form fieldset table td
{
   padding: 0;
   margin: 0;
   border-style: none;
}

label
{
   padding: 0;
   border-style: none;
   vertical-align: middle;
   text-align: right;
}

label.ll
{
   margin: 1px 5px 0 0;
   float: right;
}

label.rl
{
   margin: 1px 0 0 5px;
   float: left;
}

input
{
   width: 165px;
   padding: 0 2px;
   margin: 1px 2px 0 0;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
   vertical-align: middle;
}

input.OptOrChk
{
   width: 15px;
   border-style: none;
}

input.SubmOrRe
{
   width: 80px;
   margin: 3px 2px 0 0;
   background-color: #f4f4f4;
   color: inherit;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
   vertical-align: top;
}

select
{
   width: 165px;
   padding: 0;
   margin: 2px 2px 0 0;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
   vertical-align: top;
}


/*

hdrcheat.css is an Cascading Style Sheet cheat sheet
copyright 2006 Hans de Rooij, Original design Andreas Viklund

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of
the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public 
License (http://www.gnu.org/licenses/gpl.html) along with
this program; if not, write to: 

The Free Software Foundation, Inc.
51 Franklin St
Boston MA 20110-1301
USA.

*/

